<ngx-spinner bdColor="rgba(159,202,249,0.8)" size="large" color="#2341f0" type="ball-clip-rotate-multiple"></ngx-spinner>
<h1>Create project</h1>
<p-panel>
    <div [@fadeInOut] class="container" >
        <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
            <p-panel header="Project information" >
                <table class="table table-striped table-hover table-responsive">
                    <tbody>
                        <tr>
                            <td>
                                <div class="row">
                                    <fsw-input-text
                                    [(ngModel)]="project.name" ngDefaultControl
                                    name="name"
                                    [hasError]="projectForm?.form.controls.name.invalid"
                                    [validations]="projectForm?.form.controls.name.errors"
                                    label="Name"
                                    icon="bullseye"></fsw-input-text>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <fsw-textarea 
                                    [(ngModel)]="project.description" ngDefaultControl
                                    name="description"
                                    [hasError]="projectForm?.form.controls.description.invalid"
                                    [validations]="projectForm?.form.controls.description.errors"
                                    label="Description"></fsw-textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <fsw-textarea 
                                    [(ngModel)]="project.serverInfo" ngDefaultControl
                                    name="serverInfo"
                                    [hasError]="projectForm?.form.controls.serverInfo.invalid"
                                    [validations]="projectForm?.form.controls.serverInfo.errors"
                                    label="Server Info"></fsw-textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <fsw-dropdown 
                                    [(model)]="project.clientId" ngDefaultControl
                                    [options]="clients"
                                    name="clientId"
                                    [hasError]="projectForm?.form.controls.clientId.invalid"
                                    [validations]="projectForm?.form.controls.clientId.errors"
                                    label="Client Id"></fsw-dropdown>
                                </div>
                            </td>
                        </tr>                         
                        <tr>
                            <td>
                                <div class="row">
                                    <fsw-dropdown 
                                    [(model)]="project.status" ngDefaultControl
                                    [options]="statuses"
                                    name="status"
                                    [hasError]="projectForm?.form.controls.status.invalid"
                                    [validations]="projectForm?.form.controls.status.errors"
                                    label="Status"></fsw-dropdown>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p-panel>
        </form>
    </div>
    <div class="col-md-10">
        <div class="save-create-kontrahent-ie">
            <fsw-button label="{{'button.Save' | translate}}" (click)="projectForm.valid ? onSubmit() : ''" [disabled]="!projectForm.valid" severityLevel="success" class="enter" ></fsw-button>
            <a routerLink="/projects">
                <fsw-button label="{{'button.Back' | translate}}"></fsw-button>
            </a>
        </div>
    </div>
</p-panel>
