<ngx-spinner bdColor="rgba(159,202,249,0.8)" size="large" color="#2341f0" type="ball-clip-rotate-multiple"></ngx-spinner>
<h1>Create project</h1>
<p-panel>
        <div [@fadeInOut] class="container" >
            <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">
                <p-panel header="Project information" >
                    <table class="table table-striped table-hover table-responsive">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row">
                                        <label class="col-sm-3 control-label">Name</label>
                                        <div class="input-group col-lg-4">
                                            <fsw-custom-input [validations]="{required: 'error.Required' | translate}">
                                                <input pInputText pKeyFilter="alphanum" inputRef class="form-control" [(ngModel)]="project.name" formControlName="name" type="text" />
                                              </fsw-custom-input>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <label class="col-sm-3 control-label">ClientId</label>
                                        <div class="input-group col-lg-4">
                                            <select class="form-control"
                                                    [(ngModel)]="project.clientId"
                                                    formControlName="clientId">
                                                        <option *ngFor="let client of allclients" [ngValue]="client.id">{{client.fullName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <label class="col-sm-3 control-label">Description</label>
                                        <div class="input-group col-lg-4">
                                            <textarea maxlength="1000"
                                                    [ngClass]="{'textAreaBind': true}"
                                                    class="form-control"
                                                    formControlName="description"
                                                    required [(ngModel)]="project.description"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <label class="col-sm-3 control-label">ServerInfo</label>
                                        <div class="input-group col-lg-4">
                                                <textarea maxlength="1000"
                                                        [ngClass]="{'textAreaBind': true}"
                                                        class="form-control"
                                                        formControlName="serverInfo"
                                                        required [(ngModel)]="project.serverInfo"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <label class="col-sm-3 control-label">Status</label>
                                        <div class="input-group col-lg-4">
                                            <select class="form-control"
                                                    [(ngModel)]="project.status"
                                                    formControlName="status">
                                                        <option *ngFor="let item of statuses" [ngValue]="item.value">{{item.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </p-panel>
            </form>
        </div>
    <div class="col-md-10">
        <div class="save-create-kontrahent-ie">
            <fsw-button label="{{'button.Save' | translate}}" (click)="projectForm.valid ? onSubmit() : ''" [disabled]="!projectForm.valid" severityLevel="success" class="enter" ></fsw-button>
            <a routerLink="/projects">
                <fsw-button label="{{'button.Back' | translate}}"></fsw-button>
            </a>
        </div>
    </div>
</p-panel>
<br>
TODO: <br>

4) status enum <br>

<pre>{{project | json }}</pre>


